<html>
    <head>
        <title>Site foda</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Site foda</a></h1>
            <h2><em>Oque será que esse comando faz?</em></h2>
        </div>
        <div><h3>E Esse meu deus do ceu?</h3></div>

        <div>
            <p><strong>publicado: 22.04.2023, 17:14</strong></p>
            <h2><a href="">Meu primeiro post</a></h2>
            <p>DALE CARAIOOOOOOOOOOO</p>
        </div>

        <div>
            <p><strong>publicado: 22.04.2023, 17:14</strong></p>
            <h2><a href="">Meu segundo post</a></h2>
            <p>Me pergunto qual sera a função dessa parte do codigo</p>
        </div>
        <div>
            <p><strong>publicado: 22.04.2023, 17:41</strong></p>
        <h2><a href="">Outro post</a></h2>
        <p>lero lero lero quem le aqui é viado</p>
        
        </div>
    </body>
</html>